---
page_title: "Provider: Foundry"
description: |-
  The Foundry provider manages resources in the current Microsoft Foundry Agent Service.
---

# Foundry provider

{{ .Description }}

## Example usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}
